#section-3 {
  height: 730px;
  padding: 30px;
}

#section-3 .row {
  display: flex;
  justify-content: center;
  height: 100%;
}

#section-3 .row .line {
  text-align: center;
}

#section-3 img {
  width: inherit;
}